<form id="settings-form" class="grid">
    {% block changelog %}
        <div class="grid-row section m-top-40" id="changelog-container" style="display: none;">
            <h2 class="divider m-bottom-20" title="Shadow Section">
                <%= translations.changelog %>
            </h2>

            <div class="grid">
                <div class="grid-row">
                    <span id="author"></span> <a class="fa-pencil btn action only-icon small" id="change-author"></a>
                </div>
                <div class="grid-row">
                    <span id="created"></span>
                </div>
                <div class="grid-row">
                    <span id="changed"></span>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block extends %}{# Add additional fields here #}{% endblock %}
</form>
