# PHPUnit
/phpunit.xml
.phpunit.result.cache

# PHPCS
.php_cs.cache
/php-cs-fixer.phar

# composer
/composer.phar
/composer.lock
/auth.json
/vendor

# php-cs
.php_cs
.php_cs.cache

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# IDEs
.idea/*
*.iml
*~

# System files
.DS_Store

# Frontend Caches
bower_components/
.tmp/
.sass-cache/
node_modules/
npm-debug.log

# tests
.env.*.local
/Tests/Application/config/parameters.yml
/Tests/Application/var
/Tests/Functional/Import/export.test.xliff
