sudo: false

language: php

services:
  - elasticsearch

cache:
  directories:
    - "$HOME/.composer/cache"

matrix:
  include:
    - php: 5.5
    - php: 7.0

before_install:
  - composer self-update

install:
  - travis_retry composer install --no-interaction
  - composer info -i
  - ./Tests/app/console doctrine:database:create
  - ./Tests/app/console doctrine:schema:update --force
  - ./Tests/app/console sulu:document:initialize

script:
  - ./vendor/bin/phpunit
