sudo: true

language: php

env:
  global:
    - JAVA_HOME="/usr/lib/jvm/java-8-oracle/jre"
    - JACKRABBIT_VERSION=2.12.0
    - SYMFONY__PHPCR__TRANSPORT=doctrinedbal
    - ES_VERSION="5.3.0"
    - ES_DOWNLOAD_URL="https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${ES_VERSION}.zip"

cache:
  directories:
    - "downloads"
    - "$HOME/.composer/cache"

matrix:
  include:
    - php: 5.5
      env:
        - SULU_VERSION="~1.5.3"
        - COMPOSER_FLAGS="--prefer-lowest --prefer-dist --no-interaction"
        - ES_VERSION="2.4.4"
        - ES_DOWNLOAD_URL="https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-${ES_VERSION}.zip"
    - php: 7.0
      env:
        - COMPOSER_FLAGS="--prefer-dist --no-interaction"
        - SULU_VERSION="dev-develop"
        - CODE_COVERAGE="--coverage-clover=coverage.clover"
    - php: 7.0
      env:
        - COMPOSER_FLAGS="--prefer-dist --no-interaction"
        - SULU_VERSION="~1.5.3"
        - SYMFONY__PHPCR__TRANSPORT=jackrabbit
addons:
  apt:
    packages:
      - oracle-java8-installer

before_install:
  # Container based PHP image ues PHP 5.6.5, once it will be upgraded sudo will be not necessary
  - sudo apt-get install -y oracle-java8-set-default
  - |
    if [[ $SYMFONY__PHPCR__TRANSPORT = jackrabbit ]]; then
        if [ ! -f downloads/jackrabbit-standalone-$JACKRABBIT_VERSION.jar ]; then
            cd downloads
            wget http://archive.apache.org/dist/jackrabbit/$JACKRABBIT_VERSION/jackrabbit-standalone-$JACKRABBIT_VERSION.jar
            cd -
        fi
        java -jar downloads/jackrabbit-standalone-$JACKRABBIT_VERSION.jar > /dev/null &
    fi
  - if [[ -z $CODE_COVERAGE ]]; then phpenv config-rm xdebug.ini ; fi
  - phpenv config-add Tests/travis.php.ini
  - composer self-update
  - curl -L -o elasticsearch.zip ${ES_DOWNLOAD_URL}
  - unzip elasticsearch.zip
  - ./elasticsearch-*/bin/elasticsearch -d

install:
  - travis_retry composer require sulu/sulu:$SULU_VERSION $COMPOSER_FLAGS
  - composer info -i
  - ./Tests/app/console doctrine:database:create
  - ./Tests/app/console doctrine:schema:update --force
  - ./Tests/app/console sulu:document:initialize
  - ./Tests/app/console ongr:es:index:create -m default
  - ./Tests/app/console ongr:es:index:create -m live

script:
  - ./vendor/bin/phpunit $CODE_COVERAGE

after_script:
  - cat elasticsearch.log
  - if [[ -n $CODE_COVERAGE ]]; then wget https://scrutinizer-ci.com/ocular.phar ; fi
  - if [[ -n $CODE_COVERAGE ]]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover ; fi
