sudo: false

language: php

services:
  - elasticsearch

env:
  global:
    - JACKRABBIT_VERSION=2.12.0
    - SYMFONY__PHPCR__TRANSPORT=doctrinedbal

cache:
  directories:
    - "downloads"
    - "$HOME/.composer/cache"

matrix:
  include:
    - php: 5.5
      env:
        - SULU_VERSION="1.5.*"
      # - COMPOSER_FLAGS="--prefer-lowest --prefer-dist --no-interaction"
    - php: 7.0
      env:
      # - COMPOSER_FLAGS="--prefer-dist --no-interaction"
        - SULU_VERSION="1.5.*"
        - CODE_COVERAGE="--coverage-clover=coverage.clover"
    - php: 7.0
      env:
        - SULU_VERSION="1.5.*"
        - SYMFONY__PHPCR__TRANSPORT=jackrabbit

before_install:
  - |
    if [[ $SYMFONY__PHPCR__TRANSPORT = jackrabbit ]]; then
        if [ ! -f downloads/jackrabbit-standalone-$JACKRABBIT_VERSION.jar ]; then
            cd downloads
            wget http://archive.apache.org/dist/jackrabbit/$JACKRABBIT_VERSION/jackrabbit-standalone-$JACKRABBIT_VERSION.jar
            cd -
        fi
        java -jar downloads/jackrabbit-standalone-$JACKRABBIT_VERSION.jar > /dev/null &
    fi
  - if [[ -z $CODE_COVERAGE ]]; then phpenv config-rm xdebug.ini ; fi
  - phpenv config-add Tests/travis.php.ini
  - composer self-update

install:
  - travis_retry composer require sulu/sulu:$SULU_VERSION $COMPOSER_FLAGS
  - composer info -i
  - ./Tests/app/console doctrine:database:create
  - ./Tests/app/console doctrine:schema:update --force
  - ./Tests/app/console sulu:document:initialize
  - ./Tests/app/console ongr:es:index:create -m default
  - ./Tests/app/console ongr:es:index:create -m live

script:
  - ./vendor/bin/phpunit $CODE_COVERAGE --debug

after_script:
  - if [[ -n $CODE_COVERAGE ]]; then wget https://scrutinizer-ci.com/ocular.phar ; fi
  - if [[ -n $CODE_COVERAGE ]]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover ; fi
