language: php

env:
  global:
    - JAVA_HOME="/usr/lib/jvm/java-8-oracle/jre"
    - JACKRABBIT_VERSION=2.12.0
    - SYMFONY__PHPCR__TRANSPORT=doctrinedbal
    - SYMFONY__DATABSE__VERSION=5.5.39
    - ES_VERSION="5.3.0"
    - ES_DOWNLOAD_URL="https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${ES_VERSION}.zip"

cache:
  directories:
    - "downloads"
    - "$HOME/.composer/cache/files"

matrix:
  include:
    - php: 5.5
      env:
        - COMPOSER_FLAGS="--prefer-lowest --prefer-dist --no-interaction"
        - ES_VERSION="2.4.4"
        - ES_DOWNLOAD_URL="https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-${ES_VERSION}.zip"
    - php: 7.2
      env:
        - COMPOSER_FLAGS="--prefer-dist --no-interaction"
        - SYMFONY__PHPCR__TRANSPORT=jackrabbit
        - PHPSTAN=true

addons:
  apt:
    packages:
      - oracle-java8-installer

before_install:
  - sudo update-java-alternatives -s java-8-oracle
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle/jre
  - java -version
  - |
    if [[ $SYMFONY__PHPCR__TRANSPORT = jackrabbit ]]; then
        if [ ! -f downloads/jackrabbit-standalone-$JACKRABBIT_VERSION.jar ]; then
            cd downloads
            wget http://archive.apache.org/dist/jackrabbit/$JACKRABBIT_VERSION/jackrabbit-standalone-$JACKRABBIT_VERSION.jar
            cd -
        fi
        java -jar downloads/jackrabbit-standalone-$JACKRABBIT_VERSION.jar > /dev/null &
    fi
  - if [[ -z $CODE_COVERAGE ]]; then phpenv config-rm xdebug.ini ; fi
  - phpenv config-add Tests/travis.php.ini
  - composer self-update
  - curl -L -o elasticsearch.zip ${ES_DOWNLOAD_URL}
  - unzip elasticsearch.zip
  - ./elasticsearch-*/bin/elasticsearch -d

install:
  - if [[ $PHPSTAN == 'true' ]]; then travis_retry composer require --dev phpstan/phpstan $COMPOSER_FLAGS ; else travis_retry composer update $COMPOSER_FLAGS ; fi
  - composer info -i
  - ./Tests/app/console doctrine:database:create
  - ./Tests/app/console doctrine:schema:update --force
  - ./Tests/app/console sulu:document:initialize
  - ./Tests/app/console ongr:es:index:create -m default
  - ./Tests/app/console ongr:es:index:create -m live

script:
  - ./vendor/bin/phpunit $CODE_COVERAGE
  - if [[ $PHPSTAN == 'true' ]]; then ./vendor/bin/phpstan analyse ./ --level 1 -c phpstan.neon ; fi

after_script:
  - if [[ -n $CODE_COVERAGE ]]; then wget https://scrutinizer-ci.com/ocular.phar ; fi
  - if [[ -n $CODE_COVERAGE ]]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover ; fi
