includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    paths:
        - .
    level: 2
    excludes_analyse:
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/*
        - %currentWorkingDirectory%/Resources/phpcr-migrations/*
