version: 2

jobs:
  build:
    docker:
      - image: circleci/php:7.1-node-browsers
        environment:
          - ARTICLE_TEST_CASE=extend
      - image: circleci/mysql:5.7
        environment:
          - MYSQL_ROOT_PASSWORD=
          - MYSQL_ALLOW_EMPTY_PASSWORD=true
          - MYSQL_DATABASE=circle_test
      - image: docker.elastic.co/elasticsearch/elasticsearch:7.5.2
        environment:
          - cluster.name: es-test-cluster
          - xpack.security.enabled: false
          - transport.host: localhost
          - network.host: 127.0.0.1
          - http.port: 9200
          - discovery.type: single-node
    steps:
      - checkout
      - run:
          name: Install OS dependencies (mysql, gd)
          command: |
            sudo apt-get install -y libpng-dev
            sudo docker-php-ext-install pdo_mysql gd
          parallel: true
      - run: sudo composer self-update --snapshot
      - restore_cache:
          keys:
            - composer-v2-{{ checksum "composer.json" }}
            - composer-v2-
      - run: php -d memory_limit=2G /usr/local/bin/composer install -n --prefer-dist
      - save_cache:
          key: composer-v2-{{ checksum "composer.json" }}
          paths:
            - vendor
            - ~/.composer/cache
      - run:
          name: Test Elasticsearch
          command: |
            sleep 10 && wget --waitretry=10 --retry-connrefused -v http://127.0.0.1:9200/
            cat index.html
      - run:
          name: Command Create Test Database
          command: |
            ./Tests/app/console doctrine:database:create
            ./Tests/app/console doctrine:schema:update --force
            ./Tests/app/console sulu:document:initialize
            ./Tests/app/console ongr:es:index:create -m default
            ./Tests/app/console ongr:es:index:create -m live
      - run:
          name: List Bundles
          command:
            ./Tests/app/console debug:config
      - run: php -d memory_limit=2G ./vendor/bin/phpunit
