version: 2

jobs:
    build:
        environment:
            DATABASE_URL: mysql://root@127.0.0.1:3306/su_articles_test?serverVersion=5.7
            ARTICLE_TEST_CASE: extend
        docker:
            - image: circleci/php:7.3-node-browsers
            - image: circleci/mysql:5.7
              environment:
                  MYSQL_ALLOW_EMPTY_PASSWORD: true
            - image: elasticsearch:7.5.2
              environment:
                  - cluster.name: es-test-cluster
                  - xpack.security.enabled: false
                  - transport.host: localhost
                  - network.host: 127.0.0.1
                  - http.port: 9200
                  - discovery.type: single-node
        steps:
            - checkout
            - run:
                  name: Install OS dependencies (mysql, gd)
                  command: |
                      sudo apt-get install -y libpng-dev
                      sudo docker-php-ext-install pdo_mysql gd
                  parallel: true
            - run: echo -e "memory_limit=2G" | sudo tee /usr/local/etc/php/php.ini > /dev/null
            - run: sudo composer self-update
            - restore_cache:
                  keys:
                      - composer-v2-{{ checksum "composer.json" }}
                      - composer-v2-
            - run: php -d memory_limit=-1 /usr/local/bin/composer install -n --prefer-dist
            - save_cache:
                  key: composer-v2-{{ checksum "composer.json" }}
                  paths:
                      - vendor
                      - ~/.composer/cache
            - run:
                  name: Test Elasticsearch
                  command: |
                      sleep 10 && wget --waitretry=10 --retry-connrefused -v http://127.0.0.1:9200/
                      cat index.html
            - run:
                  name: Command Create Test Database
                  command: |
                      composer bootstrap-test-env
            - run:
                  name: List Bundles
                  command:
                      ./Tests/Application/bin/adminconsole debug:config
            - run: composer test
