version: 2

jobs:
  build:
    docker:
      - image: circleci/php:7.1-node-browsers
        environment:
          - ES_VERSION=6.5.4
          - ARTICLE_TEST_CASE=extend
      - image: circleci/mysql:5.7
        environment:
          - MYSQL_USER=root
          - MYSQL_PASSWORD=
          - MYSQL_ALLOW_EMPTY_PASSWORD=true
          - MYSQL_DATABASE=circle_test
    steps:
      - checkout
      - run: 
          name: Install OS dependencies (mysql, gd)
          command: |
            sudo apt-get install -y libpng-dev
            sudo docker-php-ext-install pdo_mysql gd
          parallel: true
      - run:
          name: Install Elasticsearch
          command: |
            curl -L -o elasticsearch.zip https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${ES_VERSION}.zip
            unzip elasticsearch.zip
          parallel: true
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - composer-v2-{{ checksum "composer.json" }}
            - composer-v2-
      - run: php -d memory_limit=-1 /usr/local/bin/composer install -n --prefer-dist
      - save_cache:
          key: composer-v2-{{ checksum "composer.json" }}
          paths:
            - vendor
            - ~/.composer/cache
      - run:
          name: Run Elasticsearch
          command: |
            ES_JAVA_OPTS="-Xms512m -Xmx1024m" ./elasticsearch-${ES_VERSION}/bin/elasticsearch
          background: true
      - run:
          name: Test Elasticsearch
          command: |
            sleep 10 && wget --waitretry=10 --retry-connrefused -v http://127.0.0.1:9200/
            cat index.html
      - run:
          name: Command Create Test Database
          command: |
            ./Tests/app/console doctrine:database:create
            ./Tests/app/console doctrine:schema:update --force
            ./Tests/app/console sulu:document:initialize
            ./Tests/app/console ongr:es:index:create -m default
            ./Tests/app/console ongr:es:index:create -m live
      - run:
          name: List Bundles
          command:
            ./Tests/app/console debug:config
      - run: php -d memory_limit=2G ./vendor/bin/phpunit
