.page-tree-route {
    .single-internal-link {
        display: inline-block;
        width: 30%;
    }

    .suffix {
        width: 30%;
    }

    .history {
        display: inline-block;
    }
}
