.article-teaser-selection {
    .teaser-selection-tabs {
        padding-left: 20px;
        background-color: white;
    }

    .grid {
        padding: 20px;
    }

    .search-row,
    .list-toolbar {
        margin-bottom: 0;
    }

    &.limited {
        height: 200px;
        overflow: hidden;
    }
}

.husky-overlay-container .type-article {
    .overlay-content {
        max-height: 500px;
        overflow: scroll;
    }
}
