/*----------------------------------------*/
/* line 3, ../../scss/modules/edit.scss */
.sulu-header .toolbar-row .right-container.wide {
  width: 220px;
}
/* line 6, ../../scss/modules/edit.scss */
.sulu-header .toolbar-row .right-container.wide .language-changer {
  float: right;
  margin-right: 15px;
}
/* line 11, ../../scss/modules/edit.scss */
.sulu-header .toolbar-row .right-container.wide .page-changer {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  line-height: 25px;
  padding-left: 8px;
  border-radius: 3px;
  border: 2px solid #fff;
  font-size: 12px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
/* line 24, ../../scss/modules/edit.scss */
.sulu-header .toolbar-row .right-container.wide .page-changer .dropdown-toggle {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px 0 10px;
}
/* line 29, ../../scss/modules/edit.scss */
.sulu-header .toolbar-row .right-container.wide .page-changer .dropdown-toggle:after {
  border-top: 6px solid #fff;
}
/* line 34, ../../scss/modules/edit.scss */
.sulu-header .toolbar-row .right-container.wide .page-changer .dropdown-menu {
  right: 0;
  left: auto;
  margin-top: 0;
  display: inline-block;
  min-width: 160px;
  width: auto;
  color: #000;
}

/* line 47, ../../scss/modules/edit.scss */
.article-form #content-form .highlight-section .grid-row:last-child {
  margin-bottom: 0;
}
/* line 51, ../../scss/modules/edit.scss */
.article-form #content-form .highlight-section .article-title {
  width: 870px;
  padding-left: 0;
}
/* line 55, ../../scss/modules/edit.scss */
.article-form #content-form .highlight-section .article-title .content-title.underlined {
  margin-top: 10px;
  border-bottom: 2px solid #999;
}

/* line 62, ../../scss/modules/edit.scss */
#webspace-settings-info-default {
  color: #999;
}

/* line 3, ../../scss/modules/list.scss */
.content-title .type:empty:before, .content-title .type:empty:after {
  content: "";
}
/* line 8, ../../scss/modules/list.scss */
.content-title .type:before, .content-title .type:after {
  content: "\"";
}

/* line 13, ../../scss/modules/list.scss */
.husky-table tbody td .article-broken .cell-content {
  color: #666 !important;
  text-decoration: line-through;
}

/* line 2, ../../scss/modules/page-tree-route.scss */
.page-tree-route .single-internal-link {
  display: inline-block;
  width: 30%;
}
/* line 7, ../../scss/modules/page-tree-route.scss */
.page-tree-route .suffix {
  width: 30%;
}
/* line 11, ../../scss/modules/page-tree-route.scss */
.page-tree-route .history {
  display: inline-block;
}

/* line 2, ../../scss/modules/teaser-selection.scss */
.article-teaser-selection .teaser-selection-tabs {
  padding: 0 20px;
  background-color: white;
  border-top: 1px solid #e9e9e9;
}
/* line 8, ../../scss/modules/teaser-selection.scss */
.article-teaser-selection .grid {
  padding: 20px;
}
/* line 12, ../../scss/modules/teaser-selection.scss */
.article-teaser-selection .search-row,
.article-teaser-selection .list-toolbar {
  margin-bottom: 0;
}

/* line 19, ../../scss/modules/teaser-selection.scss */
.husky-overlay-container .type-article .overlay-content {
  max-height: 500px;
  overflow: scroll;
}
