name: Test application

on:
    pull_request:
    push:
        branches:
            - '[0-9]+.x'
            - '[0-9]+.[0-9]+'

jobs:
    test:
        name: "PHP ${{ matrix.php-version }} (elasticsearch ${{ matrix.elasticsearch-version }}, ${{ matrix.phpcr-transport }}, ${{ matrix.dependency-versions }})"
        runs-on: ubuntu-latest

        env:
            DATABASE_URL: mysql://root:root@127.0.0.1:3306/sulu_test?serverVersion=5.7

        strategy:
            fail-fast: false
            matrix:
                include:
                    - php-version: '7.2'
                      elasticsearch-version: '5.6'
                      elasticsearch-image: 'elasticsearch'
                      elasticsearch-package-constraint: '~5.5'
                      phpcr-transport: doctrinedbal
                      dependency-versions: 'lowest'
                      php-extensions: 'ctype, iconv, mysql, gd'
                      tools: 'composer:v1'
                      lint: false
                      env:
                          SYMFONY_DEPRECATIONS_HELPER: disabled
                          PHPCR_TRANSPORT: doctrinedbal
                          ELASTICSEARCH_HOST: '127.0.0.1:9200'
                          DATABASE_CHARSET: UTF8
                          DATABASE_COLLATE: UTF8_BIN

                    - php-version: '7.4'
                      elasticsearch-version: '7.9.3'
                      elasticsearch-image: 'docker.elastic.co/elasticsearch/elasticsearch'
                      elasticsearch-package-constraint: '~7.9.0'
                      phpcr-transport: jackrabbit
                      dependency-versions: 'highest'
                      php-extensions: 'ctype, iconv, mysql, imagick'
                      tools: 'composer:v2'
                      phpstan: true
                      lint: true
                      env:
                          SYMFONY_DEPRECATIONS_HELPER: weak
                          PHPCR_TRANSPORT: jackrabbit
                          ELASTICSEARCH_HOST: '127.0.0.1:9200'

                    - php-version: '8.0'
                      elasticsearch-version: '7.11.1'
                      elasticsearch-image: 'docker.elastic.co/elasticsearch/elasticsearch'
                      elasticsearch-package-constraint: '~7.11.0'
                      phpcr-transport: jackrabbit
                      dependency-versions: 'highest'
                      php-extensions: 'ctype, iconv, mysql, imagick'
                      tools: 'composer:v2'
                      composer-options: '--ignore-platform-reqs'
                      phpstan: false
                      lint: false
                      env:
                          SYMFONY_DEPRECATIONS_HELPER: weak
                          PHPCR_TRANSPORT: jackrabbit
                          ELASTICSEARCH_HOST: '127.0.0.1:9200'

        services:
            mysql:
                image: mysql:5.7
                env:
                    MYSQL_ROOT_PASSWORD: root
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5

            jackrabbit:
                image: sulu/jackrabbit:2.18
                env:
                    DATABASE_HOST: mysql
                    DATABASE_PORT: 3306
                    DATABASE_NAME: sulu_test_jackrabbit
                    DATABASE_USER: root
                    DATABASE_PASS: root
                    LOG_LEVEL: WARN
                ports:
                    - 8080:8080

            elasticsearch:
                image: ${{ matrix.elasticsearch-image }}:${{ matrix.elasticsearch-version }}
                ports:
                    - 9200:9200
                env:
                    discovery.type: 'single-node'
                    xpack.security.enabled: 'false'
                options: --health-cmd="curl http://localhost:9200/_cluster/health" --health-interval=10s --health-timeout=5s --health-retries=5

        steps:
            - name: Checkout project
              uses: actions/checkout@v2

            - name: Install and configure PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  extensions: ${{ matrix.php-extensions }}
                  tools: ${{ matrix.tools }}
                  coverage: none

            - name: Require elasticsearch dependency
              run: composer require --dev elasticsearch/elasticsearch:"${{ matrix.elasticsearch-package-constraint }}" --no-interaction --no-update

            - name: Install composer dependencies
              uses: ramsey/composer-install@v1
              with:
                  dependency-versions: ${{matrix.dependency-versions}}
                  composer-options: ${{ matrix.composer-options }}

            - name: Bootstrap test environment
              run: composer bootstrap-test-environment
              env: ${{ matrix.env }}

            - name: Lint code
              if: ${{ matrix.lint }}
              run: composer lint
              env: ${{ matrix.env }}

            - name: Execute test cases
              run: time composer test
              env: ${{ matrix.env }}
